<a href="https://colab.research.google.com/github/Arindam1950/Arindam1950/blob/main/Demo_Array1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from array import *
array1 = array('i',[10,20,30,40,50])
print(array1[0])
print(array1[2])

10
30

In [6]:
#Insertion
from array import *
array1 = array('i',[10,20,30,40,50])
array1.insert(1,60)
for x in array1:
  print(x)

10
60
20
30
40
50

In [8]:
#Search Operation
from array import *
array1 = array('i',[10,20,30,40,50])
print(array1.index(40))

3

In [11]:
#Update Operation
from array import *
array1 = array('i',[10,20,30,40,50])
array2= 80
for x in array1:
  print(x)

10
20
30
40
50

In [12]:
#2D Array(array within array)
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
print(T[0])
print(T[1][2])

[11, 12, 5, 2]
10

In [7]:
#Deletion
from array import *
array1 = array('i',[10,20,30,40,50])
array1.remove(40)
for x in array1:
  print(x)

10
20
30
50

In [14]:
#Insert Values
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
T.insert(2,[0,5,11,13,6])
for row in T:
  for column in row:
    print(column,end="")
    print()

11
12
5
2
15
6
10
0
5
11
13
6
10
8
12
5
12
15
8
6

In [18]:
#For Loop
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
for row in T:
  for column in row:
   print(column, end=" ")
   print()

11
12
5
2
15
6
10
10
8
12
5
12
15
8
6

In [19]:
#Updating Values
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
T[2] = [11,9]
T[0][3] = 7
for row in T:
  for column in row:
    print(column,end=" ")
    print()

11
12
5
7
15
6
10
11
9
12
15
8
6

In [20]:
#Deleting Values
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
del T[3]
for row in T :
  for column in row :
    print(column, end =" ")
    print()

11
12
5
2
15
6
10
10
8
12
5

In [1]:
from array import *
array1 = array('i'),[10,20,30,40,50]
for x in array1:
  print(x)

array('i')
[10, 20, 30, 40, 50]